$primary: hsl(233, 26%, 24%);
$secondary: hsl(136, 65%, 51%);
$third: hsl(192, 70%, 51%);

$neutral: hsl(233, 8%, 62%);
$neutralTwo: hsl(220, 16%, 96%);
$neutralThree: hsl(0, 0%, 98%);
$neutralFour: hsl(0, 0%, 100%);